.idea/*
**/*.idea/
**/*.ipynb_checkpoints
**/*.ipynb
**/*.ipyn_checkpoints/*
**/*.pyc
**/*pickle
**/*.pdf

*/**/catboost_info/*
*/**/data/*
*/**/doc/*
*/**/notebooks/*
*/**/__pycache__/*
*/**/__cache__/*
*/**/*.cache/*

dist/*
HyperBand.egg-info/*